.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $light-gray;
  font-family: $sans-serif;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  margin: 0 15px;
  padding: 8px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.right-nav > ul > li {
  margin-left: 5px;
}

.right-nav > ul > li:last-of-type {
  // margin-left: 30px;
  padding: 8px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;
}

.left-nav span {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.left-nav i {
  padding-right: 10px;
}

.right-nav i {
  font-size: 14px;
}
